.navbar {
    width: 100%;
    background: #0070f3;
    padding: 10px;
    position: fixed;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: space-around;
    z-index: 999999;
    box-shadow: 0 5px 10px -3px grey;
}

.navbar a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}